/* html {
  height: 100%;
}

body {
  height: 100%;
}

#root{
  height: 100vh;
  position: fixed;
  width: 100%;
} */

.chat-page {
  display: flex;
  /* position: relative; */
  height: 100%;
  /* overflow-y: scroll; */
}

.chat-sidebar {
  width: 25%;
  background-color: #ffffff;
  overflow-y: auto;
  height: 92vh;
  padding: 0;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.chat-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-info {
  flex: 1;
}

.chat-window {
  width: 50%;
  background-color: #fff;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  height: 92vh;
  padding-top: 0;
  padding-bottom: 0;
}

.chat-message {
  margin-bottom: 10px;
}

.chat-message.mine {
  text-align: right;
}

.chat-info-panel {
  border-left: 1px solid #ddd;
  flex-shrink: 1;
  width: 25%;
  background-color: #ffffff;
  padding: 0;
  overflow-y: auto;
  height: 92vh;
}